
<ion-header>
  <ion-navbar [hideBackButton]="false" color="primary">
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>

<ion-content nopd padding class="form-content">
    <form class="form" [formGroup]="validations_form" (ngSubmit)="tryRegister(validations_form.value)">
    
      <ion-title pic>
        <ion-img style="width: 220px; height: 220px; background: transparent !important;" src="../assets/imgs/Vote.png"></ion-img>
      </ion-title>
    
      <ion-list>
        <ion-item>
          <ion-input placeholder="Email" type="text" formControlName="email"></ion-input>
        </ion-item>
    
    
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
    
        <ion-item>
          <ion-input placeholder="Password" type="password" formControlName="password" class="form-controll" required></ion-input>
        </ion-item>
    
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
    
        <ion-item>
          <ion-input placeholder="Re-Password" type="password" formControlName="rePassword"></ion-input>
        </ion-item>

        
    
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.rePassword">
            <div class="error-message" *ngIf="validations_form.get('rePassword').hasError(validation.type) && (validations_form.get('rePassword').dirty || validations_form.get('rePassword').touched)">
              {{ validation.message }}
             
            </div>
          </ng-container>
        </div>

        <label class="error-message">{{rePasswordError}}</label>
        <label class="success-message">{{successMessage}}</label>
      </ion-list>
    
    
    
    
      <button ion-button full type="submit" [disabled]="!validations_form.valid">Register</button>
      <button ion-button full type="submit" [disabled]="testhide == false" (click)="goLoginPage()">Back to Login</button>

      <label class="error-message">{{errorMessage}}</label>
      
    </form>

</ion-content>
